.scoreboard{
  background-color: yellow;
  box-shadow: 1vh 1vh #212121;
  max-width: 200px;
  max-height: 200px;
  min-height: 125px;
  min-width: 75px;
  width: 25vw;
  height: 25vh 50vw;
  margin-bottom: 10vh;
  border: 1px solid #212121;
  border-radius: 1px;
}


.textbox{
  max-width: 500px;
  width: 70vw;
  background-color: yellow;
  padding-bottom: 5vh;
  padding-top: 5vh;
  box-shadow: 1vh 1vh #212121;
  border: 2px solid #212121; 
 
}

input[type="text"]{
  width: 50vw;
  max-width: 400px;
  color: 212121;
  background-color:yellow ;
  border: 2px solid #212121;
  border-radius: 6px;
}::placeholder{
  color: #212121;
}
input:focus[type="text"]{
  
  border-color: 2px solid white;
}

body{ height:100vh; margin:0; }

header{ min-height:50px;}
footer{ min-height:50px; }

#questionarea{
  max-width: 500px;
  width: 70vw;
  border: 2px solid white;
  color: aliceblue;
  margin-bottom: 20px;
  height: 150px;
  background-color: #212121;
  box-shadow: 1vh 1vh gray;
}
input[type="button"]{
  border: 2px solid #212121;
  background-color: yellow;
  box-shadow: 3px 3px #212121;
}
#submitanswer{
  width: 30px;
  height: 30px;
}

body{ 
  display:flex; 
  flex-direction:column; 
}

main{
  width: 50px;
}

.oneline{
display: block;
}


